input:focus{
    outline: none;
}
.cart-confirm{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1200px;
    margin: auto;
}
.cart-confirm-text{
    font-size: 36px;
    margin: 50px 0 50px 0;
    color: #115485;
}
.commodity{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
    border-top:  1px solid #115485;
}
.commodity-describe{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #115485;
    line-height: 200%;
}
.commodity-pic{
    margin-right: 115px;
}
.commodity-name{
    font-size: 32px;
}
.counter-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.counter-container .reduce{
    width: 70px;
    height: 60px;
    background-color: #DCEBF8;
    border-top: 1px solid #115485;
    border-bottom: 1px solid #115485;
    border-left: 1px solid #115485;
    border-right: 0px;
    font-size: 32px;
    border-radius: 5px 0px 0px 5px;
}
.quantity{
    width: 70px;
    height: 60px;
    border: 1px none 1px none;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0%;
    border-top: 1px solid #115485;
    border-bottom: 1px solid #115485;
    border-left: 0px;
    border-right: 0px;
    font-size: 24px;
}
.counter-container .increase{
    width: 70px;
    height: 60px;
    border-top: 1px solid #115485;
    border-bottom: 1px solid #115485;
    border-left: 0px;
    border-right: 1px solid #115485;
    background-color: #DCEBF8;
    font-size: 32px;
    border-radius: 0px 5px 5px 0px;
}
.submit-plan{
    display: none;
}