input:focus{
    outline: none;
}
body{    
    letter-spacing: 1px;
    background-color: #F7F4F7;
    line-height: 1;
}
h1{
    font-family: 'Happy Monkey', sans-serif;
}
@media (width <= 768px) {
    .navbar-bgc{
        max-width: 100%;
        background-color: #fff;
        padding: 10px 15px 5px 15px;
    }
    .navbar{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content:space-between;
        margin: auto;
    }
    .logo{
        width: 100px;
        height: 45px;
    }
    .logo img{
        width: 100%;
    }
    .navbar-phone-search{
        box-sizing: border-box;
        padding-top: 3px;
        padding-right: 15px;
        width: 100px;
        height: 25px;
        border: #92CEFA 2px solid;
        border-radius: 90px;
        font-size: 14px;
        text-align: right;
        background-image: url('../img/share-img/放大鏡.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat; 
        background-position: left 5% top 1px;
    }
    .navbar-search-countainer{
        display: none;
    }
    .navbar-search{
        display: none;
    }
    .nav-button{
        display: none;
    }
}
@media (width > 768px) {
    .navbar-bgc{
        width: 100%;
        background-color: #fff;
    }
    .navbar{
        display: flex;
        max-width: 1200px;
        height: 100px;
        align-items: center;
        justify-content:space-between;
        margin: auto;
    }
    .navbar-search{
        width: 217px;
        height: 40px;
        border: #92CEFA 3px solid;
        border-radius: 90px;
        font-size: 16px;
        text-align: center;
        background-image: url('../img/share-img/放大鏡.svg');
        background-size: 35px 35px;
        background-repeat: no-repeat; 
        background-position: left 10%  top 50%;
    }
    .logo{
        position: relative;
        left: 5.5%;
        top: 7%;
    }
    .nav-button{
        display: flex;
    }.flash-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFF;
        background-color: #FF9999;
        border-radius: 90px;
        width: 147px;
        height: 46px;
        margin: 5px;
    }
    .flash-button img {
        display: inline-block; 
        width: 15px; 
        height: 25px;
    }
    .login-button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFF;
        background-color: #FF9999;
        border-radius: 90px;
        width: 147px;
        height: 46px;
        margin: 5px;
    }
    .text {
        display: inline-block;
        margin: 3px;
        font-size: 16px;
    }
    .phone-search{
        display: none;
    }
}