@media (width <= 768px) {
    .big-picture{
        display: none;
    }
    .pic-frame{
        width: 100%;
    }
    .thumbnail {
    }
    .big-picture{
    }
    .photo-wall{
    }
    .thumbnails {
        margin: auto;
        max-width: 500px;
        width: 100%;
        display: flex;
        overflow: hidden;
        
    }
    .thumbnails img{
        width: 100%;
    }
    .left-icon{
        display: none;
    }
    .right-icon{
        display: none;
    }
    .clicked{
        display: none;
    }
}

@media (width > 768px) {    
    .thumbnails {
        width: 400px;
        height: 70px;
        display: flex;
        position: relative;
    }
    .pic-frame{
        overflow:hidden;
        position: relative;
        height: 100px;
    }
    .thumbnails img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .big-picture{
        width: 400px;
        height: 400px;
        margin-bottom: 8px;
    }
    .big-picture img{
        width: 100%;
    }
    .photo-wall{
        width: 410px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .clicked{
        width: 70px;
        height: 70px;
        cursor: pointer;
        border: 2px solid #115485;
        box-sizing: border-box;
    }
    .thumbnail{
        margin-right: 5px;
    }
    .left-icon{
        text-align: center;
        line-height: 70px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
    }
    .right-icon{
        text-align: center;
        line-height: 70px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        top: 0;
        right: 0;
    }
}