@media (min-width:1200px) {
    .thumbnails {
        width: 400px;
        height: 100px;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
    }
    .thumbnail {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .big-picture{
        width: 400px;
        height: 400px;
        margin-bottom: 8px;
    }
    .big-picture img{
        width: 100%;
    }
    .photo-wall{
        width: 410px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .thumbnail{
        margin-right: 5px;
    }
}