@media (width < 768px) {
    .lightbox {
        display: none;
    }
    
    .lightbox.show {
        display: flex;
    }
    .lightbox img{
        width: 100%;
    }
    .big-picture{
        display: none;
    }
    .thumbnails {
        margin: auto;
        max-width: 500px;
        width: 100%;
        display: flex;
        overflow: hidden;
        
    }
    .thumbnails img{
        width: 100%;
    }
    .pic-frame{
        position: relative;
    }
    .left-icon{
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 20%;
        opacity:0;
    }
    .right-icon{
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 20%;
        opacity:0;
    }
    .clicked{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .thumbnails {
        width: 650px;
        height: 70px;
        display: flex;
        position: relative;
    }
    .pic-frame{
        overflow:hidden;
        position: relative;
        height: 100px;
    }
    .thumbnails img {
        width: 70px;
        cursor: pointer;
    }
    .big-picture{
        width: 650px;
        margin-bottom: 8px;
    }
    .big-picture img{
        width: 100%;
    }
    .photo-wall{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .clicked{
        width: 70px;
        height: 70px;
        cursor: pointer;
        border: 2px solid #115485;
        box-sizing: border-box;
    }
    .thumbnail{
        margin-right: 5px;
    }
    .left-icon{
        text-align: center;
        line-height: 70px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
    }
    .right-icon{
        text-align: center;
        line-height: 70px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        top: 0;
        right: 0;
    }
}
@media screen and (min-width: 1200px){
    .thumbnails {
        width: 400px;
        height: 70px;
        display: flex;
        position: relative;
    }
    .pic-frame{
        overflow:hidden;
        position: relative;
        height: 100px;
    }
    .thumbnails img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .big-picture{
        width: 400px;
        height: 400px;
        margin-bottom: 8px;
    }
    .big-picture img{
        width: 100%;
    }
    .photo-wall{
        width: 410px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .clicked{
        width: 70px;
        height: 70px;
        cursor: pointer;
        border: 2px solid #115485;
        box-sizing: border-box;
    }
    .thumbnail{
        margin-right: 5px;
    }
    .left-icon{
        text-align: center;
        line-height: 70px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
    }
    .right-icon{
        text-align: center;
        line-height: 70px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        top: 0;
        right: 0;
    }
}