@media (width <= 768px) {
    .header{
    width: 100%;
    background-color: #92CEFA;
    }
    .header-container{
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-container-pic img{
        width: 150px;
        height: 150px;
        margin: 20px 10px 10px 10px;
    }
    .header-container-text{
        font-size: 24px;
        font-weight: bold;
        color: #115485;
        margin: 10px 10px 10px 20px;
    }
}
@media (width > 768px) {
    .header{
        width: 100%;
        background-color: #92CEFA;
    }
    .header-container{
        margin: auto;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-container-pic img{
        width: 200px;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 50px;
    }
    .header-container-text{
        font-size: 64px;
        color: #115485;
    }
}